 body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      background-color: #f8f9fa; /* Set a background color */
      display: flex;
      flex-direction: column;
    }
    h1{
      font-family: 'Courier New', Courier, monospace;
      color: rebeccapurple;
    }
    form {
      background-color: #ffffff; /* Set a white background for the form */
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      row-gap: 10px ;
    }

    input,
    button,
    file {
      margin-bottom: 10px;
      font-family: dosa;
      padding: 10px;
    }

    button {
      background-color: #007bff; /* Bootstrap primary color */
      color: #fff; /* White text */
      border: none;
      padding: 10px 15px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #0056b3; /* Darker blue on hover */
    }